<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Conversor de moedas</mat-card-title>
      <mat-card-subtitle>#Desafio 4</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Essa é uma aplicação utilizando a API exchangerate para a conversão de moedas.</p>
      <p>Tecnologias usadas:</p>
      <p>- Angular</p>
      <p>- Typescript</p>
      <p>- AngularMaterial</p>
      <p>- Bootstrap</p>
      
      
    </mat-card-content>

  </mat-card>
  
