<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">Conversor De Moedas</a>
    <div class="navbar-nav d-flex flex-row">
      <a class="nav-link me-3" routerLink="/conversao" routerLinkActive="active-link">Conversão</a>
      <a class="nav-link me-3" routerLink="/listagem" routerLinkActive="active-link">Listagem</a>
      <a class="nav-link me-3" routerLink="/sobre" routerLinkActive="active-link">Sobre</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
